*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
    font-family: 'Lato', sans-serif;
}

/* Container
====================== */
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}



/* Navigation
====================== */

.menu{
    background: #222222; 
}

.nav_icons{
    padding: 19px 0 13px;
    margin: 0 auto;
    max-width: 1600px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.left_menu_wrp{
   
}

button, 
button:active, 
button:focus {
    outline: none;
}

.search{
    margin-left: 41px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}

.effects:hover{
    fill: grey;
}

.effects:active{
    fill: rgb(228, 19, 193);

}

.right_menu_wrp{
    
}

.burger{
    margin-right: 33px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}

.acc{
    margin-right: 33px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}


.cart{
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}


/* header
====================== */

.header_img{
    box-sizing: border-box;
    background: #F1E4E6; 
}

.header_img_wrp{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.man{
    width: 800px;
    min-height: 764px;
    background-image: url(../img/header/man.png);
}


.header_text{
    width: 439px;
    min-height: 95px;
    background-image: url(../img/header/header_text.png);
    background-repeat: no-repeat;
}


/* OFFER
====================== */

.offer_item{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.categories-item_woman{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/woman.png);
    background-repeat: no-repeat; 
    background-size: cover;
}


.categories-item-subtitle{
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding-top: 105px;
    text-transform: uppercase;
}

.categories-item-title{
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
}

.categories-item_man{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/men.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.categories-item_kids{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/kids.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accesories{
    margin-top: 30px;
    width: 1140px;
    min-height: 180px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/accsesories.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accesories-correction{
    padding-top: 65px;
}

.offer_title{
    display: block;
    text-align: center;
    line-height: 36px;
    color: #222222;
    margin-top: 96px;
    font-size: 30px;
    line-height: 36px;
    
}

.offer_text{
    display: block;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    
}

/* PRODUCT_CARD
====================== */

.product_card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
   
}


.card{
    position: relative;
    box-sizing:border-box;
    background: #F8F8F8;
    margin-bottom: 20px;

}

.card:hover .image{
    filter: brightness(30%);

}

.image{
    display: block;
}

.product_card_hover{
    border: 1px solid #fff;
    position: absolute;
    display: none;
    padding: 10px 15px 8px 13px;
    background: transparent;
    top: 190.5px;
    right: 110.5px;
    cursor: pointer;
    
}

.card:hover .product_card_hover {
    /* display: block; */
    display: flex;
    align-items: center;
}

.product_card_hover:hover{
    border: 2px solid #fff;
    border-radius: 2px;
}

.card_text_hover{
    margin-left: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

}


.card_title{
    display: block;
    padding-top: 24px;
    font-weight: 600;
    margin-left: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.card_text{
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    margin-left: 18px;
    margin-top: 13px;
    width: 315px;
    
}


.card_price{
    display: block;
    color: #F16D7F;
    padding: 18px 0 20px 18px;
}

/* BUTTON
====================== */

.product_btn{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.button_link{
    border: 1px solid #F26376;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    color: #F26376;
    background-color: #fff;
    text-decoration: none;
    margin-bottom: 95px;
}

.button_link:hover{
    
    background-color: #F26376;
    color: #fff;
    
}
.button_link:active{
    border: 3px solid #F26376;
}


/* FOOTER-TOP
====================== */

.footer_bg_top{
    background: #222224;
    box-sizing: border-box;
}

.footer_icons{
    display: flex;
    justify-content: space-around;
}

.footer_top_icon{
    box-sizing: border-box;
    padding-top: 103px;
    width: 360px;
    text-align: center; 
}

.footer_top_title{
    box-sizing: border-box;
    padding-top: 28px;
    text-align: center;
    color: #FBFBFB;
}

.icon_text{
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 104px;
    text-align: center;
    color: #FBFBFB;
}

.correction_center{
    padding-top: 21px;
}

.correction_right{
    padding-top: 25px;
}

/* FOOTER-MIDDLE
====================== */

/* LEFT_SIDE
====================== */

.footer_middle{

    min-height: 448px;
    background-image: url(../img/footer_img/photo\ subscribe.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
     
}


.footer_container{
    display: flex;
    justify-content: space-between;

}

.footer_left_side{
    padding-top: 89px;

}
.footer_woman_img{
    
    margin: 0 auto;
    box-sizing: border-box;
    width: 96px;
    min-height: 120px;
    background-image:url(../img/footer_img/footer_woman.png);
    background-repeat: no-repeat;
}

.footer_middle_text{
    text-align: center;
    width: 359px;
    font-size: 20px;
    line-height: 24px;
}

.italic_txt{
    font-style: italic;
}

/* RIGHT_SIDE
====================== */
.footer_right_side{
    padding-top: 150px;
}

.footer_subcribe{
    text-align: center;
}

.subscribe{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

.subscribe_txt{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;

}

.email_form{
    display: flex;
    margin: 0 auto;
}

.email_form input[type="text"]{
    padding-left: 20px;
}


.email{
    display: block;
    cursor: pointer;
    width: 256px;
    border: 0;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.send{
    display: block;
    cursor: pointer;
    color: #fff;
    border: 0;
    width: 100px;
    min-height: 49px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #F16D7F;

}

input, textarea {
    outline:none;
}

/* FOOTER-BOTTOM
====================== */

.footer_bottom{
    background: #222224;
    box-sizing: border-box;
    padding: 25px 0;
}



.footer_bottom_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.footer_rights{
       
}
.rights{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social_btn{
    
}

.social{
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    fill: black; 
}

.social:hover{
    fill:#fff;
    background-color: #F16D7F;
}


/* CATALOG PAGE
=============================
=============================
============================= */

.catalog_header{
    background: #F8F3F4;
}

.catalog_header_txt{
    
    max-width: 1600px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    
}

.header_left_txt{
    text-transform: uppercase;

    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.header_right_txt{

    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

/* MAIN
====================== */
.filter{
    box-sizing: border-box;
    display: flex;
    padding-top: 51px;
}

.filter_list{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 30px;
    list-style: none;
    fill: black;
    cursor: pointer;
}


.filter_link{
    color: #000000;
}

.filter_link:hover{
    fill: #F16D7F;;
    color: #F16D7F;
}

.filter_link:active{
    color: black;
    fill: black;
}

.filter_list_color{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    fill: #6F6E6E;
}

.filter_list_color:hover{
    fill: #F16D7F;;
    color: #F16D7F;
}

.filter_list_color:active{
    color: black;
    fill: black;
}

.filter_list:first-child{
    margin-right: 338px;

}


.pages{
    padding: 12px 20px;
    border-radius: 2px;
    border: 2px solid #EBEBEB;
    width: 292px;
    margin: 0 auto;
    margin-bottom: 95px; 
}

.pages_list{
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.pink{
    color:#F16D7F;
}

.pages_links{
    color: #636363;
    list-style-type: none;
    fill: black;
}

.pages_links:hover{
    color:#F16D7F;
    fill:#636363;
}

.pages_links:active{
    color:black;
    fill:black;
}

a{
    text-decoration: none;
}


/* PRODUCT PAGE
=============================
=============================
============================= */
.product_page_woman_img{
    box-sizing: border-box;
    background: #F7F7F7; 
}

.product_page_img_wrp{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-bottom: 54px;
    
}
.product_page_img{
    width: 597px;
    min-height: 724px;
    background-image: url(../img/product_page/img/woman.png);
    background-repeat: no-repeat;
}

.arrows{
    box-sizing: border-box;
    fill: black;
    width: 47px;
    height: 47px;
    padding-top: 11.5px;
    text-align: center;
    background: rgba(42, 42, 42, 0.15);
}

.arrows:hover{
    fill:#F16D7F;
}

.arrows:active{
    fill: black;
}

/* INFORMATION
====================== */

.information{
    box-sizing: border-box;
}

.information_text{
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 64px;
    background: #FFFFFF;
}

.woman_collection{
    padding-top: 64px;
    padding-bottom: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.border_pink{
    margin: 0 auto;
}

.moschino{
    margin: 0 auto;
    text-transform: uppercase;
    padding: 12px 0 49px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.main_information_text{
    margin: 0 auto;
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 33px;

}

.information_price{
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.border_grey{
    margin: 0 auto;
}

.choose_menu{
    display: flex;
    justify-content: center;
}

.choose_menu_list{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 30px;
    list-style: none;
    fill: black;
    cursor: pointer;
    padding:65px 0 49px 0;
}

.product_cart{
    background: #fff;
    border: 1px solid #F26376;
    fill: #F26376;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 215px;
    padding: 10px 0;

}
.cart_text{
    padding-right: 38px;
    color: #F26376;
    padding-top: 8px;
}

.product_cart:hover{
    background: #F26376;
    fill: #fff;
    color: #fff;
}

.cart_text:hover{
    background: #F26376;
    /* color: #fff; */
    
}

