*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
    font-family: 'Lato', sans-serif;
}

/* Container
====================== */
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}



/* Navigation
====================== */

.menu{
    background: #222222; 
}

.nav_icons{
    padding: 19px 0 13px;
    margin: 0 auto;
    max-width: 1600px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.left_menu_wrp{
   
}

button, 
button:active, 
button:focus {
    outline: none;
}

.search{
    margin-left: 41px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}

.effects:hover{
    fill: grey;
}

.effects:active{
    fill: rgb(228, 19, 193);

}

.right_menu_wrp{
    
}

.burger{
    margin-right: 33px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}

.acc{
    margin-right: 33px;
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}


.cart{
    border: 0;
    cursor: pointer;
    background-color: inherit;
    fill: #E8E8E8;
}


/* header
====================== */

.header_img{
    box-sizing: border-box;
    background: #F1E4E6; 
}

.header_img_wrp{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.man{
    width: 800px;
    min-height: 764px;
    background-image: url(../img/header/man.png);
}


.header_text{
    padding-right: 120px;

}

.title-line {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: block;
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    text-transform: uppercase;
}

.big_bold{
    font-family: Lato Black;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
}

.color-pink {
    color: #f16d7f;
}


/* OFFER
====================== */

.offer_item{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.categories-item_woman{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/woman.png);
    background-repeat: no-repeat; 
    background-size: cover;
}


.categories-item-subtitle{
    display: block;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding-top: 105px;
    text-transform: uppercase;
}

.categories-item-title{
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
    text-transform: uppercase;
}

.categories-item_man{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/men.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.categories-item_kids{
    width: 360px;
    min-height: 260px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/kids.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accesories{
    margin-top: 30px;
    width: 1140px;
    min-height: 180px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/offer/accsesories.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.accesories-correction{
    padding-top: 65px;
}

.offer_title{
    display: block;
    text-align: center;
    line-height: 36px;
    color: #222222;
    margin-top: 96px;
    font-size: 30px;
    line-height: 36px;
    
}

.offer_text{
    display: block;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    
}

/* PRODUCT_CARD
====================== */

.product_card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.card{
    position: relative;
    box-sizing:border-box;
    background: #F8F8F8;
    margin-bottom: 20px;

}

.card:hover .image{
    filter: brightness(30%);

}

.image{
    display: block;
}

.product_card_hover{
    border: 1px solid #fff;
    position: absolute;
    display: none;
    padding: 10px 15px 8px 13px;
    background: transparent;
    top: 190.5px;
    right: 110.5px;
    cursor: pointer;
    fill: #fff;
}

.card:hover .product_card_hover {
    display: flex;
    align-items: center;
}

.product_card_hover:hover {
    border: 1px solid #fff;
    border-radius: 2px;
    background: #F16D7F;
}


.product_card_hover:active{
    border: 1px solid #F16D7F;
    fill: #F16D7F;
    background: #fff;
}

.product_card_hover:hover .card_text_hover{
    color: #fff;
}

.product_card_hover:active .card_text_hover{
    color: #F16D7F;
}

.card_text_hover{
    margin-left: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card_text_hover:active{
    color: #F16D7F;
}

.card_title{
    display: block;
    padding-top: 24px;
    font-weight: 600;
    margin-left: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.card_text{
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 17px;
    margin-left: 18px;
    margin-top: 13px;
    width: 315px;
    
}


.card_price{
    display: block;
    color: #F16D7F;
    padding: 18px 0 20px 18px;
}

/* BUTTON
====================== */

.product_btn{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.button_link{
    border: 1px solid #F26376;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    color: #F26376;
    background-color: #fff;
    text-decoration: none;
    margin-bottom: 95px;
}

.button_link:hover{
    background-color: #F26376;
    color: #fff;
    
}
.button_link:active{
    background-color: #fff;
    color: #F26376;
}


/* FOOTER-TOP
====================== */

.footer_bg_top{
    background: #222224;
    box-sizing: border-box;
}

.footer_icons{
    display: flex;
    justify-content: space-around;
}

.footer_top_icon{
    box-sizing: border-box;
    padding-top: 103px;
    width: 360px;
    text-align: center; 
    fill: #F16D7F;
}

.footer_top_title{
    box-sizing: border-box;
    padding-top: 28px;
    text-align: center;
    color: #FBFBFB;
}

.icon_text{
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 104px;
    text-align: center;
    color: #FBFBFB;
}

.correction_center{
    padding-top: 21px;
}

.correction_right{
    padding-top: 25px;
}

/* FOOTER-MIDDLE
====================== */

/* LEFT_SIDE
====================== */

.footer_middle{

    min-height: 448px;
    background-image: url(../img/footer_img/photo\ subscribe.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
     
}


.footer_container{
    display: flex;
    justify-content: space-between;

}

.footer_left_side{
    padding-top: 89px;

}
.footer_woman_img{
    
    margin: 0 auto;
    box-sizing: border-box;
    width: 96px;
    min-height: 120px;
    background-image:url(../img/footer_img/footer_woman.png);
    background-repeat: no-repeat;
}

.footer_middle_text{
    text-align: center;
    width: 359px;
    font-size: 20px;
    line-height: 24px;
}

.italic_txt{
    font-style: italic;
}

/* RIGHT_SIDE
====================== */
.footer_right_side{
    padding-top: 150px;
}

.footer_subcribe{
    text-align: center;
}

.subscribe{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

.subscribe_txt{
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;

}

.email_form{
    display: flex;
    margin: 0 auto;
}

.email_form input[type="text"]{
    padding-left: 20px;
}


.email{
    display: block;
    cursor: pointer;
    width: 256px;
    border: 0;
    background: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.send{
    display: block;
    cursor: pointer;
    color: #fff;
    border: 0;
    width: 100px;
    min-height: 49px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #F16D7F;
}

.send:hover{
    background: #fff;
    color: #F16D7F;
}

.send:active{
    background: #F16D7F;
    color: #fff;
}

input, textarea {
    outline:none;
}

/* FOOTER-BOTTOM
====================== */

.footer_bottom{
    background: #222224;
    box-sizing: border-box;
    padding: 25px 0;
}



.footer_bottom_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.footer_rights{
       
}
.rights{
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social_btn{
    
}

.social{
    border: 1px solid #000;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
    fill: black; 
}

.social:hover{
    fill:#fff;
    background-color: #F16D7F;
}

.social:active{
    fill:#F16D7F;
    background-color: #fff;
}


/* CATALOG PAGE
=============================
=============================
============================= */

.catalog_header{
    background: #F8F3F4;
}

.catalog_header_txt{
    
    max-width: 1600px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    
}

.header_left_txt{
    text-transform: uppercase;

    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.header_right_txt{
    width: 209px;
    text-transform: uppercase;
    font-size: 14px;
    
}

.catalog_list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.catalog_links{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: #636363;
}

.catalog_links:hover{
    color: #F16D7F;
    font-weight: 600;
}

.catalog_links:active{
    color: #636363;
    font-weight: 600;
}


/* MAIN
====================== */
.filter{
    box-sizing: border-box;
    display: flex;
    padding-top: 51px;
}

.filter_list{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 30px;
    list-style: none;
    fill: black;
    cursor: pointer;
}


.filter_link{
    color: #000000;
}

.filter_link:hover{
    fill: #F16D7F;;
    color: #F16D7F;
}

.filter_link:active{
    color: black;
    fill: black;
}

.filter_list_color{
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    fill: #6F6E6E;
}

.filter_list_color:hover{
    fill: #F16D7F;;
    color: #F16D7F;
}

.filter_list_color:active{
    color: black;
    fill: black;
}

.filter_list:first-child{
    margin-right: 338px;

}


.pages{
    padding: 12px 20px;
    border-radius: 2px;
    border: 2px solid #EBEBEB;
    width: 292px;
    margin: 0 auto;
    margin-bottom: 95px; 
}

.pages_list{
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.pink{
    color:#F16D7F;
}

.pages_links{
    background: #fff;
    border: none;
    color: #636363;
    list-style-type: none;
    fill: black;
}

.pages_links:hover{
    color:#F16D7F;
    fill:#636363;
}

.pages_links:active{
    color:black;
    fill:black;
}

a{
    text-decoration: none;
}


/* PRODUCT PAGE
=============================
=============================
============================= */
.product_page_woman_img{
    box-sizing: border-box;
    background: #F7F7F7; 
}

.product_page_img_wrp{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    padding-bottom: 54px;
    
}
.product_page_img{
    width: 597px;
    min-height: 724px;
    background-image: url(../img/product_page/img/woman.png);
    background-repeat: no-repeat;
}

.arrows{
    box-sizing: border-box;
    fill: black;
    width: 47px;
    height: 47px;
    padding-top: 11.5px;
    text-align: center;
    background: rgba(42, 42, 42, 0.15);
}

.arrows:hover{
    fill:#F16D7F;
}

.arrows:active{
    fill: black;
}

/* INFORMATION
====================== */

.information{
    box-sizing: border-box;
}

.information_text{
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 64px;
    background: #FFFFFF;
}

.woman_collection{
    padding-top: 64px;
    padding-bottom: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.border_pink{
    margin: 0 auto;
    fill: #EF5B70;
}

.moschino{
    margin: 0 auto;
    text-transform: uppercase;
    padding: 12px 0 49px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.main_information_text{
    margin: 0 auto;
    width: 555px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 33px;

}


.information_price{
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.border_grey{
    margin: 0 auto;
}

.choose_menu{
    display: flex;
    justify-content: center;
}

.choose_menu_list{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-right: 30px;
    list-style: none;
    fill: black;
    cursor: pointer;
    padding:65px 0 49px 0;
}

.product_cart {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #F26376;
    fill: #F26376;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 215px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 65px;
}

.cart_text {
    padding-right: 38px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding-top: 3px;
    fill: #F26376;
}

.product_cart:hover {
    background: #F26376;
    fill: #fff;
}
.product_cart:active {
    background: #fff;
    border: 1px solid #F26376;
    fill: #F26376;
}

.product_cart:hover .cart_text {
    color: #fff;
}

.product_cart:active .cart_text {
    color: #F26376;
    background: white;
}

.cart_text:hover {
    background: #F26376;
    color: #fff;
}

/* CART PAGE
=============================
=============================
============================= */

.cart_section_top{
    display: flex;
    justify-content: space-between;
}

.cart_card_wrp_top{
    margin-top: 96px;
    box-sizing: border-box;
    min-width: 652px;
    max-height: 306px;
    display: flex;
    justify-content: start;
    -webkit-box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    position: relative;
}

.cart_card{
   
}

.card_cart_price{
    box-sizing: border-box;
}

.cart_btn{
    border: none;
    background: #fff;
    fill: #575757;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 20px;
}

.cart_btn:hover{
    fill: #F26376;
}

.cart_btn:active{
    fill: #575757;
}

.card_cart_list{
    box-sizing: border-box;
    list-style: none;
}

.mango_txt{
    padding: 22px 0 42px 31px;
    max-width: 262px;   
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.card_txt{
    padding-left: 31px;
    margin-bottom: 6px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.quantity_txt{
    display: block;
    padding-left: 31px;
    padding-bottom: 35px;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}


.cart_border{
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    margin: 24px;
    padding: 5px 20px;
    border: 1px solid #EAEAEA;
}

.cart_form_wrp{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.cart_form{

}

.shipping {
    width: 360px;
    font-size: 16px;
    line-height: 19px;
    margin: 110px 0 21px 0;
    text-transform: uppercase;
    color: #222222;
}

.form_info{
    border-radius: 0px;
    width: 359px;
    padding: 15px 0 15px 17px ;
    margin-bottom: 21px;
    border: 1px solid #A4A4A4;
}

.quote{
    border-radius: 0px;
    padding: 10px 0 ; 
    width: 100px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    cursor: pointer;
    color: #4A4A4A;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
}

.quote:hover{
    background: #F26376;
    color: #fff;
}

.quote:active{
    color: #4A4A4A;
    background: #FFFFFF;
}

.cart_section_bottom{
    display: flex;
    justify-content: space-between;
}

.cart_card_wrp_bottom{
    margin-top: 40px;
    box-sizing: border-box;
    min-width: 652px;
    max-height: 306px;
    display: flex;
    justify-content: start;
    -webkit-box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    box-shadow: 19px 11px 15px -4px rgba(0,0,0,0.32);
    position: relative;

}

.grey_square{
    margin-top: 40px;
    box-sizing: border-box;
    min-width: 360px;
    max-height: 214px;
    background: #F5F3F3;
    text-align: right;
}

.grey_square_price{
    margin-left: 20px;
}

.sub_total{
    padding: 39px 34px 0 0;
    margin-bottom: 12px;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
}

.grand{
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.grey_square_price_pink{
    margin-left: 20px;
    color: #F26376;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-right: 34px;
}

.cart_page_line{
    fill: #E2E2E2;
}

.checkout_btn{
    color: #fff;
    padding: 15px 43px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    background: #F16D7F;
    border: none;
    cursor: pointer;
}

.checkout_btn:hover{
    background: #fff;
    color: #F16D7F;
}

.checkout_btn:active{
    background: #F16D7F;
    color: #fff;
}

.clear_btn{
    padding: 13px 40px;
    text-transform: uppercase;
    margin-top: 12px;
    background: #fff;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.clear_btn:hover{
    background: #F16D7F;
    color: #fff;
}

.clear_btn:hover:active{
    color: #000000;
    background: #fff;
}

.continue_btn{
    padding: 13px 40px;
    text-transform: uppercase;
    margin-top: 12px;
    background: #fff;
    border: 1px solid #A4A4A4;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 72px 0 127px 167px;
}

.continue_btn:hover{
    background: #F16D7F;
    color: #fff;
}

.continue_btn:hover:active{
    color: #000000;
    background: #fff;
}

/* REGISTRATION PAGE
=============================
=============================
============================= */

.registration_form_wrp{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.registration_form{
    box-sizing: border-box;
}

.top_txt{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.reg_name{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 360px;
    padding: 11.5px 0 11.5px 16px;
    margin-top: 20px;
}

.radio_btn{
    margin: 31px 20px 0 0;
    
}

.male{
    padding-right: 20px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}

.details{
    display: block;
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.registration_info{
    width: 359px;
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
}

.join_btn{
    box-sizing: border-box;
    color: #fff;
    padding: 15px 43px;
    text-transform: uppercase;
    display: block;
    background: #F16D7F;
    border: none;
    cursor: pointer;
    fill: white;
    margin-bottom: 96px;
}

.join_btn:hover{
    border: 1px solid #000;
    background: #fff;
    color: #F16D7F;
    fill: #F16D7F;
}

.join_btn:active{
    fill: white;
    background: #F16D7F;
    color: #fff;
}

.join_btn_txt{
    padding-right: 10px;
}


.loyalty_program{
    margin: 22px 0 ;
    width: 652px;
    display: block;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.loyalty_txt{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.loyalty_list{
    list-style: none;
}

.loyalty_list_txt{
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.check{
    margin-right: 20px;
    fill: black;
}
